html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 6px;
}

details {
    border: 2px grey solid;
}

details {
    border: 2px grey solid;
    border-radius: .5em;
    padding: .5em;
    margin-bottom: .5em;
    margin-right: .5em;
}

/*
 Details Summary marker.
 Adapted from https://codepen.io/MoritzGiessmann/pen/PobErJB
*/
summary {
    display: block;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    position: absolute;
    top: calc(50% - .4rem);
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display:none;
}

details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
}

/**/

summary>h2,
summary>h3 {
    display: inline-block;
}

/* input:not([type]),
input[type="text"] */
textarea {
    display: block;
    width: 100%;
    min-width: 100px;
}

textarea {
    position: relative;
    z-index: 1;

    resize: vertical;
    min-height: 300px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.card {
    box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
    width: 500px;
    border: 2px solid grey;
    border-radius: .5em;
    padding: .5em;
}

@media screen and (max-width: 700px) {
    .card {
        width: inherit;
    }
}

.card>h2 {
    margin-top: 0;
}

button.primary {
    background-color: #6716ec;
    border-color: #6716ec;
    color: white;
    border-radius: 3px;
}

.app-header {
    display: flex;
    background-color: #eee;
    margin: 0 -6px 24px;
    padding: 0 6px;
    height: 50px;
    box-shadow: gray 0 -6px 12px 4px;
}

.app-header h1 {
    margin: 0;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-header_back {
    height: 50px;
    width: 70px;
    margin-right: 1em;
    align-self: center;
    font-size: 2em;
    font-weight: bold;
}

.app-header_nav {
    height: 50px;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.page > .section {
    width: 500px;
}

.reg-exp-toggle-button {
    position: relative;
    cursor: pointer;
}

.reg-exp-toggle-button>input {
    opacity: 0;
}

.reg-exp-toggle-button>span {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    content: '.*';
    text-align: center;
    user-select: none;
    border-radius: .3rem;
}

.reg-exp-toggle-button:focus-within>span {
    outline: 1px green solid;
}

.reg-exp-toggle-button:hover>span {
    background: lightgray;
}

.reg-exp-toggle-button>input:checked+span {
    background: rgb(105, 193, 223);
}

.selectable-list {
    list-style: none;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 500px;
    border: 1px dotted gray;
}

.checkbox-list {
    list-style: none;
    padding: 0;
}

.identity-page_list {
    width: 100%;
    list-style: none;
    max-width: 500px;
    padding-left: 0;
    border: 1px solid gray;
}

.identity-page_list>li {
    display: flex;
    border-bottom: 1px solid gray;
}

.identity-page_list>li:hover {
    background-color: #eee;
}

.identity-page_list>li a {
    color: inherit;
    text-decoration: none;
}

.identity-page_list>li button {
    background: inherit;
    border: none;
    cursor: pointer;
    font: inherit;
}

.identity-page_list>li a:hover,
.identity-page_list>li button:hover {
    background-color: #ddd;
}

.identity-page_list>li>.identity-page_name {
    text-align: left;
    flex-grow: 1;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: .25em;
}

.identity-page_list>li>.identity-page_action {
    padding: .25em;
    border-left: 1px solid lightgray;
}

.identity-editor-form {
    max-width: 500px;
}

.identity-editor-form>* {
    margin-bottom: 1.1em;
}

.floating-label-input {
    position: relative;
}

.floating-label-input>input +
label {
    position: absolute;
    top: .75em;
    left: .75em;
    user-select: none;
    margin: 0;
    padding: .75em;
    display: inline-block;
    width: auto;
    transition: transform .25s, opacity .25s, padding .25s ease-in-out;
    transform-origin: 0 0;
    background-color: white;
    pointer-events: none;
}

.floating-label-input>input:focus +
label,
.floating-label-input>input:not(:placeholder-shown) +
label {
    transform: translate(0, -2em) scale(.9);
}

.floating-label-input>label,
.floating-label-input>input {
    font: inherit;
    line-height: 1;
    display: block;
    width: 100%;
}

.floating-label-input>input {
    background-color: transparent;
    border-radius: 5px;
    color: black;
    padding: 1.5em;
    border: 1px black solid;
    box-sizing: border-box;
}

.floating-label-input>input::placeholder {
    color: transparent;
}

.floating-label-input_required {
    color: darkred;
}

.high-up-label-input {
    position: relative;
}

.high-up-label-input>input +
label {
    position: absolute;
    top: .25em;
    user-select: none;
    margin: 0 1em;
    display: inline-block;
    width: calc(100% - 2em);
    height: 1.5em;
    pointer-events: none;
    color: darkblue;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.high-up-label-input>label,
.high-up-label-input>input {
    font: inherit;
    line-height: 1;
    display: block;
    width: 100%;
}

.high-up-label-input>input {
    background-color: transparent;
    border-radius: 5px;
    color: black;
    padding: 1.5em 1em 0.5em;
    border: 1px black solid;
    box-sizing: border-box;
}

.high-up-label-input_required {
    color: darkred;
}

.network-log_list {
    max-width: 1200px;
}

.network-log-request_header {
  display: flex;
}

.network-log-request_summarized-fetch {
    flex-grow: 1;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.network-log-request_time {
    white-space: nowrap;
}

.network-log-request_curl {
    display: block;
    border: 2px black dotted;
}

.network-log-request_status {
    background-color: lightslategray;
    border-radius: .5em;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 1em;
    margin: 0 .5em;
    padding: .3em .5em;
}

.network-log-request_status--success {
    background-color: rgb(0, 224, 0);
}

.network-log-request_status--client-error {
    background-color: red;
}

.network-log-request_status--server-error {
    background-color: #f000f0;
}

.network-log-request_status--network {
    background-color: darkslategray;
    color: lightgray;
}

.network-log-request_status--pending {
    background-color: lightslategray;
}

.room-list, .room-list th, .room-list td {
    border: none;
    text-align: left;
    padding: 8px;
}

.room-list table {
    border-collapse: collapse;
    border-spacing: 0;
}

.room-list th {
    background-color: #04AA6D;
    color: white;
}

.room-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modal_frame {
    max-width: 400px;
}

.modal_title {
    margin-top: 0;
}

.modal_buttons {
    text-align: end;
}

.modal_buttons>button {
    margin-left: .5em;
}

body.modal-open {
    overflow: hidden;
}

:modal {
    box-shadow: 3px 3px 10px rgba(0 0 0 / 0.7);
}
