html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 6px;
}

header {
    background-color: grey;
    border-bottom: 1px solid black;
}

details {
    border: 2px grey solid;
}

summary>h2,
summary>h3 {
    display: inline-block;
}

/* input:not([type]),
input[type="text"] */
textarea {
    display: block;
    width: 100%;
    min-width: 100px;
}

textarea {
    position: relative;
    z-index: 1;

    resize: vertical;
    min-height: 300px;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.page > .section {
    width: 500px;
}

.identity-editor-form {
    max-width: 500px;
}

.identity-editor-form>* {
    margin-bottom: 1.1em;
}

.floating-label-input {
    position: relative;
}

.floating-label-input>input +
label {
    position: absolute;
    top: .75em;
    left: .75em;
    user-select: none;
    margin: 0;
    padding: .75em;
    display: inline-block;
    width: auto;
    transition: transform .25s, opacity .25s, padding .25s ease-in-out;
    transform-origin: 0 0;
    background-color: white;
    pointer-events: none;
}

.floating-label-input>input:focus +
label,
.floating-label-input>input:not(:placeholder-shown) +
label {
    transform: translate(0, -2em) scale(.9);
}

.floating-label-input>label,
.floating-label-input>input {
    font: inherit;
    line-height: 1;
    display: block;
    width: 100%;
}

.floating-label-input>input {
    background-color: transparent;
    border-radius: 5px;
    color: black;
    padding: 1.5em;
    border: 1px black solid;
    box-sizing: border-box;
}

.floating-label-input>input::placeholder {
    color: transparent;
}

.floating-label-input_required {
    color: darkred;
}

.network-log-request_status {
    background-color: lightslategray;
    border-radius: .5em;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 1em;
    margin: 0 .5em;
    padding: .3em .5em;
    width: 2em;
}

.network-log-request_status--success {
    background-color: rgb(0, 224, 0);
}

.network-log-request_status--client-error {
    background-color: red;
}

.network-log-request_status--server-error {
    background-color: #f000f0;
}

.network-log-request_status--network {
    background-color: darkslategray;
    color: lightgray;
}

.network-log-request_status--pending {
    background-color: lightslategray;
}
